@keyframes floatAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.floating-logo {
    animation: floatAnimation 3s ease-in-out infinite;
}

/* Header H3 spacing */
h3 {
    padding: 20px;
}

.schoolname {
    color: rgb(0, 115, 255);
}

/* Hero section highlight color */
.hero span.highlight {
    color: rgb(0, 162, 255);
}


/* Key Features font size */
.key-features {
    font-size: 30px;
}
